@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&display=swap');



:root{
    --barlow:font-family: 'Barlow Condensed', sans-serif;
    --oswald:font-family: 'Oswald', sans-serif;
    --grey:#DDDDDD;
    --white:#ffffff;
    --black:#121212;
    --lightblack: #212121;;
    --pink:#FF4655;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,menu{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.btn{
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 13px 24px;
}
.section_header h2{
    color: var(--white);
    font-family: Oswald;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.66px;
    width: 518px;
    position: relative;
}
/* ==================Navbar section================= */
.navbar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
}
.navbar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_left{
    display: flex;
    column-gap: 60px;
}
.nav_left menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_left menu li a{
    color: var(--grey);
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.nav_right{
    display: flex;
    gap: 30px;
}
.nav_right a{
    color: var(--grey);
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
/* ==================banner section=================== */
#banner{
    padding: 236px 0 204px;
}
.banner_content h6{
    color: var(--white);
    font-family: Oswald;
    font-size: 27px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.banner_content h1{
    color: var(--white);
    font-family: Oswald;
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
    position: relative;
    width: 500px;
}
.banner_content h1::before{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--white);
    width: 90px;
    height: 4px;
}
.banner_content p{
    width: 523px;
    color: var(--white);
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 5px 0 48px;
}
.banner_content h1::before{
    position: absolute;
    content: "";
    bottom: 0;
    right: -125px;
    background: var(--white);
    width: 90px;
    height: 4px;
}
.banner_content .btn{
    background: var(--white);
    color: #121212;
}
.banner_social{
    display: flex;
    column-gap: 20px;
    padding-top: 300px;
}
.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #D9D9D9;
    color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* ===============About section================ */
#about{
    background: var(--black);
    padding: 34px 0 50px;
}
#about .section_header h2::after{
    position: absolute;
    content: "";
    width: 120px;
    bottom: 0;
    height: 3px;
    background: var(--pink);
}
.about_wrapper{
    padding-top: 57px;
    display: flex;
    column-gap: 82px;
}
.about_image{
    position: relative;
    width: 708px;
    height: 407px;
    /* overflow: hidden; */
}
.about_image::before{
    position: absolute;
    content: "";
    height: 7px;
    width: 163px;
    background: var(--pink);
    top: -7px;
    left: 0;
}
.about_image::after{
    position: absolute;
    content: "";
    height: 157px;
    width: 7px;
    background: var(--pink);
    top: 0px;
    left: 0px;
}
.about_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about_content h3{
    color: var(--white);
    font-family: Oswald;
    font-size: 27px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.81px;
}
.about_content menu li{
    color: var(--white);
    font-family: Barlow Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.about_content menu li span{
    color: var(--pink);
    margin-right: 10px;
}
.about_content p{
    color: var(--white);
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 3px 0 30px;
    width: 469px;
}
.about_content .btn{
    color: var(--white);
    background: var(--lightblack);
}

/* ==================Counter section==================  */
#counter{
    padding-bottom: 80px;
    background: var(--black);
}
.counter_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter_wrapper .counter_item{
    text-align: center;
    color: var(--white);
    background: #212121;
    padding: 26px 0;
    width: 315px;
    border-radius: 0 20px 0 20px;
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    -ms-border-radius: 0 20px 0 20px;
    -o-border-radius: 0 20px 0 20px;
}

.counter_wrapper .counter_item h4{
    display: inline-block;
    position: relative;
    color: var(--white);
    font-family: Barlow Condensed;
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.counter_wrapper .counter_item h4::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: var(--pink);
    bottom: 10px;
    right: -20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.counter_wrapper .counter_item p{
    color: var(--white);
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
}

 /* ==================Ppopular games==================  */
#popular_game{
    background: var(--lightblack);
    padding: 115px 0 90px;
    
}
#popular_game .section_header,#sale .section_header,#team .section_header{
    text-align: right;
    display: flex;
    justify-content: end;
    
}
#popular_game .section_header h2,#sale .section_header h2,#team .section_header h2{
    width: 554px;
}
#popular_game .section_header h2::before,#sale .section_header h2::before,#team .section_header h2::before{
    position: absolute;
    content: "";
    width: 120px;
    bottom: 0;
    left: 300px;
    height: 3px;
    background: var(--pink);
}
.slider_section{
    position: relative;
}
.game_wrapper{
    display: flex;
    gap: 10px;
    padding-top: 80px;
}
.game_item{
    width: 651px;
    overflow: hidden;
}
.game_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev,.next{
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#popular_game .prev{
    right: 0;
    bottom: 40px;
}
#popular_game .next{
    right: 0;
    bottom: 100px;
}
/* ==================Tournament section==================  */

#tournament{
    background: var(--black);
    padding: 90px 0;
}
#tournament .section_header h2::after{
    position: absolute;
    content: "";
    width: 120px;
    bottom: 70px;
    right: 200px;
    height: 3px;
    background: var(--pink);
}
.video_wrapper{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.video_item{
    overflow: hidden;
    height: 275px;
    position: relative;
}
.video_item .play{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid var(--white);
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.video_item .video_content{
    position: absolute;
    left: 25px;
    bottom:  23px;
    display: flex;
    column-gap: 100px;
    align-items: end;
    justify-content: space-between;
}
.video_title h6{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
}
.video_title p{
    color: var(--white);
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.96px;
    padding-top: 6px;
}
.video_status{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.video_status p{
    position: relative;
    color: #FFF;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.video_status p::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: -10px;
    height: 5px;
    width: 5px;
    background: var(--pink);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.match_feature h6{
    color: var(--white);
    text-align: center;
    padding: 50px 0 22px;
    font-family: var(--barlow);
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.25px;
}
.match_feature_wrapper{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match_feature_wrapper .time h5{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
}
.team{
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 426px;
    background: var(--lightblack);
    z-index: 1;
}
.team1::after{
    z-index: -1;
    background: var(--lightblack);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    position: absolute;
    content: "";
    transform-origin:  bottom;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
.team2::after{
    z-index: -1;
    background: var(--lightblack);
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0;
    position: absolute;
    content: "";
    transform-origin:  bottom;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
}
.team h5{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
}
 /* ==================Sale seciton==================  */
 #sale{
    background: #191919;
    padding: 90px 0;
 }
.sale_item_wrapper{
    display: flex;
    gap: 20px;
    padding: 47px 0 60px;
}
.item_logo{
    width: 315px;
    overflow: hidden;
    position: relative;
}
.item_logo img{
    width: 100%;
}
.sale_item a{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.54px;
}
.sale_item a sup{
    font-size: 12px;
}
.sale_item p{
    color: #666;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding: 20px 0;
}
.sale_item .discount{
    width: 40px;
    height: 30px;
    background: var(--pink);
    color: var(--white);
    text-align: center;
    font-family: var(--oswald);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    padding: 4px 5px;
}
.sale_item .pre_price{
    color: #666;
    text-align: center;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}
.sale_item .discount_price{
    color: var(--white);
    text-align: center;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.sale_item .add_cart{
    position: absolute;
    /*font-size: 30px;
    */top: 20px;
    right: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    opacity: 0;
    border: 1px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.sale_item .item_logo:hover .add_cart{
    opacity: 1;
}

#sale h5{
    color: #FFF;
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
}
.catalog_wrapper{
    background: var(--lightblack);
    display: flex;
    column-gap: 134px;
    padding: 45px;
}
.catalog_content h6{
    color: #FF4655;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
}
.catalog_content h3{
    color: #FFF;
    font-family: var(--barlow);
    font-size: 38px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 15px 0 16px;
}
.catalog_content p{
    color: #666;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 25px;
}
.catalog_content .btn{
    background: var(--black);
    color: var(--white);
}

 /* ==================Store section==================  */
 #store{
    background: var(--black);
    padding: 90px;
 }
 #store .section_header h2::after{
    position: absolute;
    content: "";
    width: 120px;
    bottom: 0;
    height: 3px;
    background: var(--pink);
}
.store_slider{
    position: relative;
}
.store_slider .store_wrapper{
    padding-top: 100px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.store_slider .store_wrapper .store_item{
    width: 315px;
    background: var(--lightblack);
    padding: 22px 0;
}
.store_slider .store_wrapper .store_item h4{
    color: var(--white);
    text-align: center;
    font-family: var(--oswald);
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}
.store_slider .store_wrapper .store_item .product_img{
    padding: 7px 0 45px;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    overflow: hidden;
}
.store_slider .store_wrapper .store_item .product_img img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.store_slider .store_wrapper .store_item .Product_name{
    color: var(--white);
    text-align: center;
    font-family: Oswald;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
    padding-bottom: 7px;
}
.store_slider .store_wrapper .store_item .cart_add{
    color: var(--pink);
    display: block;
    text-align: center;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.store_slider .prev,.store_slider .next{
    background: var(--pink);
}
.store_slider .prev{
    bottom: 190px;
    left: -20px;

}
.store_slider .next{
    bottom: 190px;
    right: -20px;
}

 /* ==================Team section==================  */
#team{
    background: #212121;
    padding: 100px 0 74px;
}
.team_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.team_wrapper .team_member{
    position: relative;
    overflow: hidden;
    width: 650px;
}
.team_wrapper .team_member .member_img{
    width: 650px;
    height: 428px;
    overflow: hidden;
}
.team_wrapper .team_member .member_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team_wrapper .team_member .member_info{
    background: rgba(37, 36, 36, 0.38);
    width: 100%;
    position: absolute;
    padding: 20px;
    bottom: -145px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.team_wrapper .team_member:hover .member_info{
    bottom: 0;
}
.team_wrapper .team_member .member_info h2{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
}
.team_wrapper .team_member .member_info p{
    color: var(--white);
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    padding: 15px 0 20px;
}
.team_wrapper .team_member .member_info .btn{
    background: var(--pink);
    color: var(--white);
}
.member_social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.member_social .social{
    display: flex;
    column-gap: 20px;
}
.member_social .social a{
    background: var(--pink);
    color: var(--white);
}
 /* ==================Faq section==================  */
#faq{
    position: relative;
    background: var(--black);
    padding: 55px 0 200px;
}
#faq .section_header h2{
    width: 530px;
    margin-bottom: 92px;
}
#faq .section_header h2::after{
    position: absolute;
    content: "";
    width: 120px;
    bottom: 0;
    height: 3px;
    background: var(--pink);
}
.faq_wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 156px;
}
.faq_wrapper::before{
    position: absolute;
    content: "";
    background: var(--lightblack);
    height: 370px;
    width: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.faq_wrapper::after{
    position: absolute;
    content: "";
    background: var(--lightblack);
    height: 1px;
    width: 1320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.faq_wrapper .faq_item{
    display: flex;
    column-gap: 42px;
    width: 540px;
}

.faq_wrapper .faq_item span{
    height: 70px;
    width: 70px;
    background: var(--pink);
    color: var(--white);
    font-family: var(--barlow);
    font-size: 38px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.8px;
    padding: 7px 30px 17px;
}
.faq_wrapper .faq_item h6{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.faq_wrapper .faq_item h6:hover{
    color: var(--pink);
}
.faq_wrapper .faq_item p{
    color: #666;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.subscribe_section{
    position: relative;
}
#faq .subscribe{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    bottom: -270px;
    left: 0;
    background: var(--pink);
    padding: 35px 30px;

}
#faq .subscribe h3{
    color: var(--white);
    width: 725px;
    font-family: var(--barlow);
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.email{
    position: relative;
}
.subscribe input{
    width: 409px;
    border: none;
    height: 40px;
    border-radius: 30px;
    background: var(--white);
    outline: unset;
    padding: 0 20px;
}
.subscribe button{
    cursor: pointer;
    position: absolute;
    border: none;
    right: 0;
    width: 117px;
    height: 40px;
    border-radius: 30px;
    color: var(--white);
    background: var(--black);
}

 /* ==================footer section================== --> */
 footer{
    background: var(--lightblack);
    padding: 112px 0 0;
 }
 .footer_wrapper{
    display: flex;
    justify-content: space-between;

 }

 .footer_wrapper .footer_item h4{
    color: var(--white);
    font-family: var(--barlow);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.75px;
    padding-bottom: 30px;
 }
 .footer_wrapper .footer_item .footer_social{
    display: flex;
    column-gap: 20px;
 }
 .footer_wrapper .footer_item .footer_social a{
    color: var(--white);
    background: var(--black);
    transition:all linear.3s ;
    -webkit-transition:all linear.3s ;
    -moz-transition:all linear.3s ;
    -ms-transition:all linear.3s ;
    -o-transition:all linear.3s ;
}
 .footer_wrapper .footer_item .footer_social a:hover{
   color: var(--white);
    background: var(--pink);
 }
 .footer_wrapper .footer_item p{
    width: 450px;
    color: #666;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 30px 0 60px;
 }

 .footer_wrapper .footer_item menu a{
    color: #666;
    font-family: var(--oswald);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

 .footer_wrapper .footer_item menu a:hover{
    color: var(--pink);
 }
 .footer_item.gallery{
    width: 315px;
 }
 .footer_item .footer_gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
 }
 .footer_item .footer_gallery .gal_img{
    width: 101px;
    height: 102px;
    overflow: hidden;
 }
 .footer_item .footer_gallery .gal_img img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
 }

 .copyright{
    padding: 25px 0;
    margin-top: 95px;
    border-top: 1px solid #666666;

 }
 .copyright p{
    text-align: center;
    color: var(--white);
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
 }
 .copyright p span{
    color: var(--pink);
 }
